{
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "<BUILTIN_MODULES>",
    "",
    "^@/(.*)$",
    "^[./]"
  ],
  "plugins": [
    "prettier-plugin-sort-json",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "endOfLine": "auto"
}